.navbar {
    background-color: #f8f9fa; 
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .navbar-nav .nav-item {
    margin-right: 10px;
  }
  
  .navbar-nav .nav-link {
    color: #333;
    font-size: 1rem;
  }

  .navbar-nav .nav-item.active .nav-link {
    color: #007bff; 
  }
  
  .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }
  

  .navbar.fixed-top {
    position: sticky;
    top: 0;
    z-index: 1000; 
  }
  