div {
    text-align: center;
    margin-top: 50px; /* Adjust the margin to center vertically */
  }
  
  h1 {
    color: #333;
  }
  
  p {
    font-size: 15px;
    margin: 10px 0;
  }
  
  /* Style for countdown completed message */
  p.countdown-completed {
    color: green;
    font-weight: bold;
  }
  